---
---
<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-brand">
        <div class="logo">
          <img src="/images/logo-weiss.png" alt="KDS - Keller & Dach Spezialisten" class="logo-img" style="height: 60px;" />
        </div>
        <p>Ihr zuverlässiger Partner für alle Arbeiten rund um Keller, Dach und Fassade in Reichelsheim und Umgebung.</p>
      </div>
      <div class="footer-links">
        <h4>Leistungen</h4>
        <ul>
          <li><a href="/#leistungen">Maler- und Fassadenarbeiten</a></li>
          <li><a href="/#leistungen">Kellerentfeuchtung</a></li>
          <li><a href="/#leistungen">Dach- und Kaminarbeiten</a></li>
          <li><a href="/#leistungen">24h Notdienst</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>Rechtliches</h4>
        <ul>
          <li><a href="/impressum">Impressum</a></li>
          <li><a href="/datenschutz">Datenschutz</a></li>
        </ul>
      </div>
      <div class="footer-contact">
        <h4>Kontakt</h4>
        <p>Firma KDS<br />Panoramastr. 12<br />64385 Reichelsheim</p>
        <a href="tel:+4916361975889" class="footer-phone">📞 0163 – 619 75 89</a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2026 KDS - Keller & Dach Spezialisten. Alle Rechte vorbehalten.</p>
    </div>
  </div>
</footer>
